

/old_dataset
/model/data
/model/data_new_test
/model/test_senthil
/model/data_rgb_test
/model/data_15k_v2
/model/data_benchmark
/extreme_tough_dataset_100
/model/data_16k_v2_final
/model/data_100_v2_sample
/model/data_custom_100
# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Checkpoints (Optional, ignoring to save space)
# *.pth
# *.pt

# OS files
.DS_Store
/venv_test






#change later 

/fresh_env
/model
/old_dataset
/ppt
/trained_models
/venv_test
/readme


/eval_3models.py
/evaluate_final.py
/evaluate_hybrid.py
/evaluate_pure.py
/evaluate_yours_inference.py
/evaluate.py
/extract_imports.py
/generate_plots.py
/inference.py
/master_inference_gem.py
/master_inference.py
/Problem_Statement_02_Applied_Materials_PS2.pptx
/README (4).md
/req_test.txt
/requirements.txt
/results_manifest.csv
/submission.txt
/test_16k_manifest.csv
/visualize_all_60.py
