

/old_dataset
/model/data
/model/data_new_test
/model/test_senthil
/model/data_rgb_test
/model/data_15k_v2
/model/data_benchmark
/extreme_tough_dataset_100
/model/data_16k_v2_final
/model/data_100_v2_sample
/model/data_custom_100
# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Checkpoints (Optional, ignoring to save space)
# *.pth
# *.pt

# OS files
.DS_Store
/venv_test


/final_model/all_60_pairs/